:root {
    --welcome-card-bg: white;
    --welcome-text: white;
    --button-bg: #5b33be;
    --button-text:white;
    --button-font-size:18px;
    --button-radius:8px;
    --button-height:48px;
    
  }