.list {
    >li {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 2px solid #EEE;
        padding: 12px 16px;
    }

    .sign {
        flex-grow: 0;
        flex-shrink: 0;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: wheat;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 8px;
    }

    .text {
        margin-right: 4px;
        margin-left: 4px;
        flex-grow: 1;
        flex-shrink: 1;

        .tagAndAmount {
            display: flex;
            justify-content: space-between;

            .tag {
                color: inherit;
            }

            .amount {
                color: #53A867;
            }
        }

        .time {
            color: #999999;
            margin-top: 4px;
        }
    }
}