.navbar{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 10vw;
        width: 100%;
}
.wrapper{
        display: flex;
        flex-direction: column;
        height:100px;
        width: 100%;

   }   
   .navIcon{
        width: 36px;
        height: 36px;
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
}

.numberPad_wrapper{
        display: flex;
        position: fixed;
        bottom: 0;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 0;
    }
    .tab{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: auto;
   .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4vw;
        .sign_wrapper{
        .sign{
        >svg{
        width: 48px;
        height: 48px;
        }  
        }
        .name_wrapper{
        display: flex;
        font-size: 100px;
        }
       
   }
}
    }
