   *{
        box-sizing: border-box;
   }
   .navIcon{
        width: 36px;
        height: 36px;
        position: relative;
}
.numberPad{
        position: fixed;
        bottom:0
}

.numberPad_wrapper{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    .tab{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 2vw;
   .content{
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4vw;
        .sign_wrapper{
        .sign{
        >svg{
        width: 48px;
        height: 48px;
        }  
        }
        .name_wrapper{
        display: flex;
        font-size: 100px;
        }
       
   }
}
    }