.button{
    border: none;
    padding: 8px 16px;
    background: var(--button-bg);
    color: var(--button-text);
    font-size: var(--button-font-size);
    border-radius: var(--button-radius);
    height:var(--button-height);
}
