.button {
    border: none;
    padding: 8px 16px;
    background: #5eb670;
    color: white;
    font-size: 16px;
    border-radius: 8px;

    &.danger {
        background: #E10501;
        margin-bottom: 10px;
    }
}