.navbar {
    display: flex;
    background-image: linear-gradient(to bottom, #5eb670 0%, #92b280 100%);
    color: white;
    font-size: 24px;
    align-items: center;
    justify-content: start;
    padding: 40px 16px 12px;

    &_wrapper {
        width: 100%;
        height: 20%;
        fill: white;

    }
}

.title_wrapper {
    margin-left: 12px;
}