.numberPad_wrapper{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid red;
}
.dateAndAmount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-family: monospace;
    border-top: 1px solid #ddd;
    }
    .amount{
        font-size: 20px;

    }
    .date{
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon{
            width: 24px;
            height: 24px;
            margin-right: 3px;
        }

        }


.buttons{
    display: grid;

    grid-template-areas:
    "n1 n2 n3 d"
    "n4 n5 n6 d"
    "n7 n8 n9 s"
    "n0 n0 nd s";
    grid-auto-rows: 48px;
    grid-auto-columns: 1fr;
    gap: 1px;
    background-color: #ddd;
    border-top: 1px solid #ddd;
    >button{
        border: none;
        background: white;
        &:nth-child(1){
            grid-area: n1;
        }
        &:nth-child(2){
            grid-area: n2;
        }
        &:nth-child(3){
            grid-area: n3;
        }
        &:nth-child(4){
            grid-area: n4;
        }
        &:nth-child(5){
            grid-area: n5;
        }
        &:nth-child(6){
            grid-area: n6;
        }
        &:nth-child(7){
            grid-area: n7;
        }
        &:nth-child(8){
            grid-area: n8;
        }
        &:nth-child(9){
            grid-area: n9;
        }
        &:nth-child(10){
            grid-area:nd;
        }
        &:nth-child(11){
            grid-area: n0;
        }
        &:nth-child(12){
            grid-area: d;
        }
        &:nth-child(13){
            grid-area:s;
            background: #5C33be;
            color: white;
        }

    }
}

