*{
    box-sizing: border-box;
    list-style: none;
    letter-spacing: 0.06em;
    
}

.mask{
    position: fixed;
    z-index: 8;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    top:24px;
    left: 0;
}

.overlay{
    position: fixed;
    z-index: 16;
    background-color: white;
    height:100% ;
    top:24px;
    left: 0;
    width: 16em;
}
.title{
    background-color: #5c33be;
    height: 14%;
    >h2{
        font-size: 26px;
        padding: 32px 0 12px 16px;
        color: white;
    }
    >p{
        font-size: 16px;
        padding-left: 16px;
        color: #cea1ff;
    }
}
.main{
    background: white;
    >ul{
        margin:20px 0 20px 0;
        font-size: 20px;
        >li{
            margin: 20px;
            >span{
                position: relative;
                bottom: 3px;
                margin:15px;
                
            }
        }
    }
}