.pig {
    width: 64vw;
    height: 64vw;

    &_wrapper {
        padding: 120px 0;
    }
}

.tips_wrapper {
    display: flex;
    justify-content: center;

    .tips {
        color: rgb(203, 196, 196);
    }
}