.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
        padding-top: 52px;

        >svg {
            width: 96px;
            height: 96px;
        }
    }

    .form {
        width: 100%;

        .certificationCode_wrapper {
            display: flex;

            justify-content: start;
            align-items: center;
            padding-top: 3vw;

            .certificationCode {
                width: 50%;
                padding: 0 10px 10px 0;
            }

            .certificationButton {
                margin-left: 3vw;
            }
        }
    }

    .loginButton {
        margin-top: 20vw;
    }
}