.wrapper{
    display: flex;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom,#5c33be 0%,#8c4bd6 100%);
    > header{
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 66px;
        color: #d4d4ee;
        > img{
            height: 80px;
            width: 80px;
        }
    }
    > main{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    > footer{
        flex-shrink: 0;
    }
}
