.wrapper {
    display: flex;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #5eb670 0%, #92b280 100%);

    >header {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 66px;
        color: #fff;

        >svg {
            width: 64px;
            height: 69px;
        }

    }

    >main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    >footer {
        flex-shrink: 0;
    }
}